*,h1 {
  margin:0px;
  padding:0px;
}


body, input{
  font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  
}

form {
  margin: 12% auto;
  width: 19em;
  text-align: center;
  position: relative;
  -webkit-animation: moveDown .3s;
  -moz-animation: moveDown .3s;
  animation: moveDown .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

// animates to come down

@-webkit-keyframes moveDown {
  0%   {-webkit-transform: translate(0,-10%);opacity: 0;}
  100% {-webkit-transform: translate(0,0);opacity: 1;}
}

@-moz-keyframes moveDown {
  0%   {-moz-transform: translate(0,-10%);opacity: 0;}
  100% {-moz-transform: translate(0,0);opacity: 1;}
}

@keyframes moveDown {
  0%   {transform: translate(0,-10%);opacity: 0;}
  100% {transform: translate(0,0);opacity: 1;}
}

// removes default autocomplete yellow bg

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input {
    color: #444;
    font-size: 1.5em;
    outline: none;
    box-shadow: none;
    -webkit-appearance:none;
    border-radius: 0;
    border-top: none;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #bbb;
    background: transparent;
    display: block;
    height: 2em;
    width: 12em;
    margin-bottom: 5%;
    padding: 0 3%;
    position: relative;
    z-index: 0;
    -webkit-transition: border .25s;
    -moz-transition:border .25s;
    -o-transition:border .25s;
    transition: border .25s;
    
}
input:focus{
    color: #111;
    border-color: #444;
}
#password{
    width: 10.5em;
    padding-right: 1.85em;
}
.model, #passwordMeter {
  speak: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  width: .25em;
  height: 3em;
  background: #fff;
  margin: 0% 0 -2em;
  z-index: 1;
}
.model:after, #passwordMeter:after {
  content: '';
  width: 1em;
  height: 100%;
  position: absolute;
  right: -19.5em; // eyeball the number
  background: #fff;
}




button {
  display: none;
}

div {
  margin: 15% auto 0;
  max-width: 32em;
  -webkit-animation: moveDown .3s;
  -moz-animation: moveDown .3s;
  animation: moveDown .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
button {
  font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #0066ff, #00ffcc);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}







  